.div-principal2 {
background-color: #f7f7f7;
margin-top: 100px;
margin-left: 70px;
margin-bottom: 100px;
border-radius:12px;
}

#image_div .image_wrapper{

  position: relative;
  display: inline-block;
  border-radius:12px;
}

#image_div .div_botones img{
  float: right;
  width:60px;
  height: 100px;
  bottom: 40%;
  border-radius:12px;
}

#image_div .image_wrapper:hover .imagenFront{
  filter:blur(10px);
  transition: 0.3s;
  border-radius:12px;
}

#image_div .image_wrapper div{
  display: none;
  position: absolute;
  border-radius:12px;
}

#image_div .image_wrapper:hover div{
  display: table-cell;
  border-radius:12px;

}

.div_botones{
  padding: 20px;
}



.imagenFront {

  display: block;
  position: relative;
  width: 85%;
  height: 85%;
  border-radius: 8px;

}
